<!doctype html>
<html lang="pl"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/thymleaf-extras-springsecurity5"
>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Edycja danych</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/checkout/">


    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous"/>
    <script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js"></script>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


</head>
<body class="bg-light">

<div th:replace="fragments/navbar :: navbar"></div>

<div th:replace="fragments/userpanel :: userpanel"></div>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="container">
        <main>
            <div class="display-6 my-5 text-center">
                Edytuj dane użytkownika
            </div>
            <hr class="w-50 mx-auto"/>

            <div class="row g-5 justify-content-center">

                <div class="col-md-7 col-lg-8 ">
                    <form class="needs-validation" novalidate method="post" action="/userPanel/editUser">
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <label for="firstName" class="form-label">Imie</label>
                                <input type="text" class="form-control" id="firstName" name="firstName" placeholder=""
                                       value="" required>
                                <div class="invalid-feedback">
                                    Poprawne imie jest wymagane.
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label for="lastName" class="form-label">Nazwisko</label>
                                <input type="text" class="form-control" id="lastName" name="lastName" placeholder=""
                                       value="" required>
                                <div class="invalid-feedback">
                                    Poprawne nazwisko jest wymagane.
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="oldPassword" class="form-label">Stare hasło <span
                                        class="text-muted">(od 4 do 20 znaków)</span></label>
                                <div class="input-group has-validation">
                                    <span class="input-group-text">#</span>
                                    <input type="password" class="form-control" id="oldPassword" name="oldPassword"
                                           placeholder="Old Password" minlength="4" maxlength="20" required>
                                    <div class="invalid-feedback">
                                        Poprawne hasło jest wymagane.
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="newPassword" class="form-label">Nowe hasło <span
                                        class="text-muted">(od 4 do 20 znaków)</span></label>
                                <div class="input-group has-validation">
                                    <span class="input-group-text">#</span>
                                    <input type="password" class="form-control" id="newPassword" name="newPassword"
                                           placeholder="Password" minlength="4" maxlength="20" required>
                                    <div class="invalid-feedback">
                                        Poprawne hasło jest wymagane.
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="email"
                                       placeholder="imie@przyklad.com" required>
                                <div class="invalid-feedback">
                                    Poprawny email jest wymagany.
                                </div>
                            </div>
                            <button class="w-100 btn btn-primary btn-lg" type="submit">Zmień dane</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
</main>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
</body>
</html>
