<!doctype html>
<html lang="pl"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/thymleaf-extras-springsecurity5"
>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Dane użytkownika</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous"/>
    <script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div th:replace="fragments/userpanel :: userpanel"></div>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="col-8 bg-light border rounded-2 shadow-sm m-5">
        <div class="row m-4">
            <div class="col-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor"
                     class="bi bi-person-circle text-muted" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                    <path fill-rule="evenodd"
                          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                </svg>
            </div>
            <div class="col-11">
                <div class="display-6 text-muted">
                    Dane szczegółowe
                </div>
            </div>
            <hr class="my-4" />
            <div class="col-12 lead text-muted">
                <dl class="row">
                    <dt class="col-sm-2">Imię</dt>
                    <dd class="col-sm-9" th:text="${loggedUser.firstName}"></dd>

                    <dt class="col-sm-2">Nazwisko</dt>
                    <dd class="col-sm-9" th:text="${loggedUser.lastName}"></dd>

                    <dt class="col-sm-2">Login</dt>
                    <dd class="col-sm-9" th:text="${loggedUser.username}"></dd>

                    <dt class="col-sm-2">Email</dt>
                    <dd class="col-sm-9" th:text="${loggedUser.email}"></dd>

                    <dt class="col-sm-2">Typ konta</dt>
                    <dd class="col-sm-9" th:if="${#request.isUserInRole('OWNER')}">Właściciel sali konferencyjnej</dd>
                    <dd class="col-sm-9" th:if="${#request.isUserInRole('TENANT')}">Podstawowe konto użytkownika</dd>
                </dl>
            </div>
            <div class="col-12 align-items-end text-end my-3">
                <a class="btn btn-primary float-right" th:href="@{/userPanel/editUser}">Edytuj dane</a>
            </div>
        </div>
    </div>
</main>
</body>
</html>
