<!doctype html>

<html lang="pl"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/thymleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8"/>
    <title>CONFrooms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body style="height:100%">

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container align-content-center mt-5" th:if="${!conferenceRooms.content.isEmpty()}">
    <p class="display-5 text-center text-secondary"> Znalezione sale konferencyjne </p>
</div>

<!-- NIE ZNALEZIONO SAL -->
<div class="container-fluid align-content-center mt-5 justify-content-center text-center" th:if="${conferenceRooms.content.isEmpty()}">
    <p class="display-6 text-center text-secondary"> Nie znaleziono dostępnych sal konferencyjnych </p>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player class="mx-auto" src="https://assets5.lottiefiles.com/packages/lf20_dmw3t0vg.json"  background="transparent"  speed="1"  style="width: 400px; height: 400px;"    autoplay></lottie-player>
    <a href="index.html" class="btn btn-lg btn-secondary text-center" th:href="@{/}">Wróć na stronę główną</a>
</div>

<!--  WYŚWIETLONE SALE  -->
<div class="container-fluid d-flex mt-5" th:if="${!conferenceRooms.content.isEmpty()}">
    <div class="container w-75 border border-light p-5 rounded bg-light shadow-lg">
        <div class="album py-2 pb-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                    <tr th:each="conferenceRoom: ${conferenceRooms.content}">
                        <div class="col">
                            <div class="card shadow-sm">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                                    <rect width="100%" height="100%" fill="#99CCFF"/>
                                </svg>
                                <div class="card-body">
                                    <p class="card-text pb-0 mb-0 font-weight-bold"
                                       th:text="${conferenceRoom.getName()}">Tu jest krótki opis sali
                                        konferencyjnej </p>
                                    <p class="card-text pt-0 mt-0" th:text="${conferenceRoom.getDescription()}">
                                        Tu jest krótki opis sali konferencyjnej </p>
                                    <div class="d-flex align-items-end">
                                        <a type="button" class="btn btn-sm btn-outline-secondary" th:href="@{/ConferenceRoom(id=${conferenceRoom.getId()},date=(${param.date} == null ? ${#dates.format(#dates.createNow(), 'yyyy-MM-dd')} : ${param.date}))}"> Pokaż więcej
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <tr/>

                </div>
            </div>
        </div>

        <nav aria-label="Page navigation example mt-3" id="pages">

        </nav>
    </div>
</div>

<footer class="text-muted py-5" >
    <div class="container">
        <p class="float-end mb-1" th:if="${!conferenceRooms.content.isEmpty()}">
            <a class="btn btn-primary mb-5" href="#" role="button">Wróć do góry</a>
        </p>
    </div>
</footer>

</body>
<script>
    var url = new URL(window.location.href);
    var page = url.searchParams.get("page");
    var numberOfPages = [[${conferenceRooms.getTotalPages()}]];
    if (page == null)
        page = 0;
    if (page < 0)
        page = 0;
    page = parseInt(page);
    var link = String(window.location.href.split('?')[0]);

    var secondPartOfLink = String(window.location.href.split('?')[1]);
    var params = secondPartOfLink.split('&');
    link += '?';
    if (secondPartOfLink != "undefined") {

        for (var param in params) {
            if (!params[param].includes("page")) {
                link += params[param];
                link += "&";
            }
        }
    }
    var previous = "";
    if (page <= 0)
        previous = " disabled";
    var next = "";
    if (page + 1 >= numberOfPages)
        next = " disabled";
    $("#pages").html(
        `
                <ul class="pagination justify-content-center">
                <li class="page-item ` + previous + `">
                    <a class="page-link" href="` + link + "page=" + String(page - 1) + `" tabindex="-1" aria-disabled="true">Poprzednia strona</a>
                </li>
                <li class="page-item"><a class="page-link" href="` + link + "page=" + String(page) + `">` + String(page) + `</a></li>
                <li class="page-item ` + next + `">
                    <a class="page-link" href="` + link + "page=" + String(page + 1) + `" >Następna strona</a>
                </li>
            </ul>
    `
    );


</script>

</html>