<!doctype html>

<html lang="pl"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/thymleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8" />
    <title>CONFrooms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="style.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body style="height:100%" >
<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/}">CONFrooms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sale konferencyjne</a>
            </li>
        </ul>
        <a class="btn btn-primary d-flex align-items-center" th:href="@{/login}" sec:authorize="!isAuthenticated()">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                 class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                <path fill-rule="evenodd"
                      d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
            </svg>
            &nbsp;zaloguj
        </a>

        <div class="btn-group d-flex" sec:authorize="isAuthenticated()">
            <a class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Opcje
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
                <li><a class="dropdown-item">Panel użytkownika</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" th:href="@{/logout}">Wyloguj</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container align-content-center mt-5">
    <p class="display-2 text-center"> CONFrooms </p>
</div>

<div class="container align-content-center mt-5 ">
    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-building container align-content-center" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
        <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
    </svg>
</div>
<div class="container align-content-center mt-5">
    <p class="display-5 text-center"> Znalezione sale konferencyjne </p>
</div>
<!--  WYŚWIETLONE SALE  -->
<div class="container-fluid d-flex mt-5">
    <div class="container w-50 border border-light p-5 rounded bg-light shadow-lg">
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <!--  PIERWSZA WYŚWIETLANA SALA  -->
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#99CCFF"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                            <div class="card-body">
                                <p class="card-text">Tu jest krótki opis sali konferencyjnej </p>
                                <div class="d-flex align-items-end">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"> Pokaż więcej </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  DRUGA WYŚWIETLANA SALA  -->
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#99CCFF"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                            <div class="card-body">
                                <p class="card-text">Tu jest krótki opis sali konferencyjnej </p>
                                <div class="d-flex align-items-end">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"> Pokaż więcej </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#99CCFF"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                            <div class="card-body">
                                <p class="card-text">Tu jest krótki opis sali konferencyjnej </p>
                                <div class="d-flex align-items-end">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"> Pokaż więcej </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#99CCFF"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                            <div class="card-body">
                                <p class="card-text">Tu jest krótki opis sali konferencyjnej </p>
                                <div class="d-flex align-items-end">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"> Pokaż więcej </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#99CCFF"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                            <div class="card-body">
                                <p class="card-text">Tu jest krótki opis sali konferencyjnej </p>
                                <div class="d-flex align-items-end">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"> Pokaż więcej </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#99CCFF"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                            <div class="card-body">
                                <p class="card-text">Tu jest krótki opis sali konferencyjnej </p>
                                <div class="d-flex align-items-end">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"> Pokaż więcej </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#99CCFF"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                            <div class="card-body">
                                <p class="card-text">Tu jest krótki opis sali konferencyjnej </p>
                                <div class="d-flex align-items-end">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"> Pokaż więcej </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#99CCFF"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                            <div class="card-body">
                                <p class="card-text">Tu jest krótki opis sali konferencyjnej </p>
                                <div class="d-flex align-items-end">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"> Pokaż więcej </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#99CCFF"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                            <div class="card-body">
                                <p class="card-text">Tu jest krótki opis sali konferencyjnej </p>
                                <div class="d-flex align-items-end">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"> Pokaż więcej </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div >

                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center" style="height: 10px;">
                        <li class="page-item mt-5"><a class="page-link" href="#">Poprzednia strona</a></li>
                        <li class="page-item mt-5"><a class="page-link" href="#">Następna strona</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<footer class="text-muted py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a class="btn btn-primary" href="#" role="button" >Back to top</a>
        </p>
        <p class="mb-1"> Powyższa strona to studencki projekt semestralny, proszę nie brać nic co jest tu widoczne na poważnie :) </p>
        <p class="mb-0"> Autorzy: Damian Purgał, Daniel Pakosz, Aleksandra Tlałka, Damian Rożek, Oliwier Kania.</p>
    </div>
</footer>

</body>


</html>